<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO FROM DOCKER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">ARBAZ GAZGE</h1>
        <p class="lead">Welcome to the Arbaz's python flask+html app for docker assinment.</p>
        <hr class="my-4">
        <p>ARBAZ GAZGE.</p>
    </div>
</div>

</body>
</html>

